{padding:0 ;margin:0; box-sizing: border-box;}

body{
  scroll-behavior: smooth;
  font-family: 'Roboto Condensed', sans-serif;
/*font-family: 'Akaya Kanadaka', cursive;*/
}

.header{width: 100%
height:100vh;

}

.nav1{width: 100%;
height: 80px;
display: flex;
align-items:center;
justify-content: space-around;

flex-wrap: wrap;
box-shadow: 2px 0px 3px  grey;
text-align: center;
background-color: black;
color: white;}

.nav1 .left{flex-basis: 50%;
letter-spacing: 5px;}

.nav1 .left a{
  text-decoration: none;
color: #AAF0D1;
font-weight: bold;
margin: 0px 5px;}


.right{flex-basis: 50%}

.right i{font-size: 30px;
  margin: 0px 15px;
  color: #AAF0D1;
  padding: 8px;
  background-color: #8B8680;
  cursor: pointer;
  transition: 0.4s;
}
.nav1 .right i:hover{
  transform: rotate(360deg);
}

.nav2{width: 100%;
height:120px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
text-align: center;
}

.nav2 .nav2-left,.nav2 .nav2-centre , .nav2 .nav2-right
{flex-basis: 20%;
margin: auto;
cursor: pointer;}

.nav2 .nav2-left i{margin-left: 15px;}

.nav2 .nav2-centre h1{color: ;
font-size: 2rem;
font-weight: bolder;
letter-spacing: 5px;
background-color: #AAF0D1;}
.nav2 .nav2-centre p{ font-size: 15px;
margin-top: 4px;}

.nav2 .nav2-centre{margin: 0 5px;}


.nav3{width: 100%
height:70px;
line-height: 70px;}

.nav3 ul {list-style: none;
text-align: center;}

.nav3 ul li {display: inline-block;
  width: 180px;
  position:  relative;
  z-index: 99;

}

.nav3 ul li a {text-decoration: none;
color: #AAF0D1;
font-weight: 500;
display: block;
background-color: black;}

.nav3 ul li a:hover{color: black;
background-color:#AAF0D1;}
.nav3 ul li i{margin: 0px 5px;}

.nav3 ul ul{position: absolute;
top: 70px;
left: 0;
display:none ;
}

.nav3 ul ul li{border-bottom: 1px solid white;
  margin-top: 2px;
width: 100%;
text-align: center;
justify-content: center;



}

.nav3 ul  li:hover>ul{display:inline-block;
}
.featured{width: 100%;
height: 60vh;
background-image: url('bot.jpg');
background-size: cover;
background-position: top;
position: relative;
}


.featured-text {max-width: 500px;
position: absolute;
top:50%;
left:10%;

color:black;
text-align: center;
font-size: 1.5rem;
font-weight: bolder;
padding:10px;
letter-spacing: 5px;
font-family: 'Akaya Kanadaka', cursive;}


.featured-text button{padding: 10px 20px;;
border: none ;
outline:none;
background-color:black ;
margin: 20px 0px;
color: #AAF0D1;}

.featured-text button:hover{color: black;
background-color: white;}


.latest{padding: 50px 100px;
}
.product-intro{text-align: center;}
.product-intro h1{color: #579ABE;
font-size: 2rem;
font-weight: bolder;
letter-spacing: 0.2rem;}

.product-intro span{color:black;}

.product-intro p{color: grey;
margin: 15px 0px;}


.card-container{width: 100%;
justify-content: space-between;
align-items: center;
display: flex;
cursor: pointer;
margin: 4rem 0;
}
.card-container .card{flex-basis: 20%;
  padding: 0.8rem;
}
.card img{width: 100%;
height:200px;
transition: 0.5s ease-in-out;}

.card i{color: #FFD700;
margin: 10px 0px;}

.card button{color:black;;
margin-top: 15px;
outline: none;
background-color:#AAF0D1;
padding: 5px 20px;}

.card button:hover{background-color:black ;
color:white;}


.card:hover img ,.card:hover h1{width:80%;
color: #696969;}

 .card::before{
  content: '20% off';
width: 25%;
height: 25px;
line-height: 25px;
color: white;
position: static;
top: 0;
left: 0;
background-color: #AE0000;
padding: 0px 4px;
transform: rotate(360deg);
}

.trends{padding: 50px 100px;
background-color:  #AAF0D1; }

.trends .swiper {
        width: 100%;
        padding: 50px;
      }

      .trends .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
      }

    .trends  .swiper-slide img {
        display:  block;

        width: 100%;

      }

      .trends span{color: Red;}
      .trends h1{color:Black;;}

footer{background-color:black;
  color: white;
  display: flex;
  justify-content: space-around;
      align-items: center;
    flex-wrap: wrap;
  text-align: center;
padding: 2rem;}

footer div{flex-basis: 30%;}

footer h1{letter-spacing: 0.5rem;
  color:  #AAF0D1;
}

footer h1 span{ color: #AAF0D1;}

footer p{font-size: 1rem;}

footer i{margin: 0px 5px;
  color: #AAF0D1;
}

footer i:hover{color: red;}
footer p:hover{color:red;}


@media only screen and (max-width:769px)
